
<div class="row">
  <div class="col">
    <h3>Detalhes do favorecido</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <label><strong>Nome:</strong></label>
      <%= @favorecido.nome %>
    </p>
    <p>
      <label><strong>RG:</strong></label>
      <%= @favorecido.rg.nil? ? "Não cadastrado" : @favorecido.rg %>
    </p>
  </div>
  <div class="col">
    <p>
      <label><strong>CPF/CNPJ:</strong></label>
      <%= @favorecido.cpf_cnpj %>
    </p>
  </div>
  <div class="col-auto control-bttns">
    <%= link_to fa_icon(:list), favorecidos_path, class: "btn btn-secondary" %> <br>
    <%= link_to fa_icon(:pencil), edit_favorecido_path(@favorecido), class: "btn btn-warning" %> <br>
  </div>
</div>