
<%= form_tag '/login' do %>
  <div class="card w-25 mx-auto p-3 mt-5">
    <%= image_tag :selo_casebras, :alt => "Login Casebrás", class:"card-img-top" %>
    <div class="card-block">
      <div class="form-group">
        <label>Email:</label>
        <%= text_field_tag :email, "", placeholder: "usuario@casebras.com.br", class: "form-control" %>
      </div>
      <div class="form-group">
        <label>Password:</label>
        <%= password_field_tag :password, "", class: "form-control" %>
      </div>
      <%= submit_tag "Entrar", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>