<%= simple_form_for(@usuario) do |f| %>
  <div class="row">
    <div class="col">
      <%= f.error_notification %>
    </div>
  </div>

  <div class="form-inputs row">
    <div class="col">
      <%= f.input :nome %>
      <%= f.input :cpf, input_html: {class: "cpf_inputs"}, label: "CPF" %>
      <%= f.input :email, placeholder: "usuario@dominio.com.br", label: "E-mail" %>
      <%= f.input :isAdmin, as: :select, include_blank: false, label: "Usuário administrador?" if current_user.isAdmin %>
    </div>
    <div class="col">
      <%= f.input :updating_password, as: :select, label: "Deseja atualizar a senha?", include_blank: false unless @usuario.new_record? %>
      <%= f.input :password, label: "Senha" %>
      <%= f.input :password_confirmation, label: "Confirme sua senha", error: "Não é igual a senha" %>
      <%= f.input :isBlocked, as: :select, include_blank: false, label: "Usuário bloqueado?" if current_user.isAdmin %>
    </div>

    <div class="col-auto control-bttns">
      <%= button_tag type: 'submit', class: "btn btn-primary" do %>
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      <% end %> <br>
      <%= link_to fa_icon(:undo), (current_user.isAdmin ? usuarios_path : recibos_path), class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
