
<div class="row">
  <div class="col">
      <h3>Usuários</h3>
  </div>
  <div class="col-4 d-flex justify-content-center">
    <%= paginate @usuarios %>
  </div>
</div>

<div class="modal fade" id="filter-form" tabindex="-1" role="dialog" aria-labelledby="filter-form-long-title" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Filtros</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for :usuario, url: usuarios_path, method: :get do |f| %>
          <div class="row">
            <div class="col">
              <%= f.input :nome, label: false, placeholder: "Nome do usuario" %>
            </div>
            <div class="col-auto">
              <%= button_tag type: :submit, class: "btn btn-primary control-bttn" do %>
                <%= fa_icon(:search) %>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= simple_form_for :usuario, url: usuarios_path, method: :get do |f| %>
          <div class="row">
            <div class="col">
              <%= f.input :cpf, label: false, placeholder: "CPF" %>
            </div>
            <div class="col-auto">
              <%= button_tag type: :submit, class: "btn btn-primary control-bttn" do %>
                <%= fa_icon(:search) %>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= simple_form_for :usuario, url: usuarios_path, method: :get do |f| %>
          <div class="row">
            <div class="col">
              <%= f.input :email, label: false, placeholder: "E-mail" %>
            </div>
            <div class="col-auto">
              <%= button_tag type: :submit, class: "btn btn-primary control-bttn" do %>
                <%= fa_icon(:search) %>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= link_to "Remover Filtros", usuarios_path, class: "btn btn-danger btn-block"%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="col">Nome do usuário</th>
          <th scope="col" class="col">E-mail</th>
          <th scope="col" class="cpf-cnpj-col">CPF</th>
          <th scope="col" class="col-auto">Administrador?</th>
          <% if current_user.isAdmin %> <th scope="col"></th> <% end %>
          <th scope="col" class="col-auto"><%= link_to fa_icon("filter"), "", class: "btn btn-primary control-bttn", "data-toggle" => "modal", "data-target" => "#filter-form" %></th>
          <th scope="col" class="col-auto"><%= link_to fa_icon("plus-circle"), new_usuario_path, class: "btn btn-primary control-bttn" %></th>
        </tr>
      </thead>

      <tbody>
        <% @usuarios.each do |usuario| %>
          <tr scope="row">
            <td class="col"><%= usuario.nome %></td>
            <td class="col"><%= usuario.email %></td>
            <td class="cpf-cnpj-col"><%= usuario.cpf %></td>
            <td class="col-auto"><%= usuario.isAdmin ? fa_icon(:check) + " Sim" : fa_icon(:times) + " Não" %></td>
            <td class="col-auto"><%= link_to fa_icon("info-circle"), usuario, class: "btn btn-info control-bttn" %></td>
            <td class="col-auto"><%= link_to fa_icon(:pencil), edit_usuario_path(usuario), class: "btn btn-warning control-bttn" %></td>
            <% if current_user.isAdmin %>
              <td class="col-auto"><%= link_to fa_icon(:trash), usuario, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger control-bttn" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
