
<div class="row">
  <div class="col">
    <h3>Detalhes do usuário</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <label><strong>Nome:</strong></label>
      <%= @usuario.nome %>
    </p>
    <p>
      <label><strong>CPF:</strong></label>
      <%= @usuario.cpf %>
    </p>
  </div>
  <div class="col">
    <p>
      <label><strong>E-mail:</strong></label>
      <%= @usuario.email %>
    </p>

    <p>
      <label><strong>Usuário Administrador?</strong></label>
      <%= @usuario.isAdmin ? "Sim" : "Não" %>
    </p>

    <p>
      <label><strong>Usuário Bloqueado?</strong></label>
      <%= @usuario.isBlocked ? "Sim" : "Não" %>
    </p>
  </div>
  <div class="col-auto control-bttns">
    <%= link_to fa_icon(:list), (current_user.isAdmin ? usuarios_path : recibos_path), class: "btn btn-secondary" %> <br>
    <%= link_to fa_icon(:pencil), edit_usuario_path(@usuario), class: "btn btn-warning" %> <br>
  </div>
</div>