<div class="row">
  <div class="col">
    <h3>Lista de Empresas</h3>
  </div>
  <div class="col-4 d-flex justify-content-center">
    <%= paginate @empresas %>
  </div>
</div>

<div class="modal fade" id="filter-form" tabindex="-1" role="dialog" aria-labelledby="filter-form-long-title" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Filtros</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for :empresa, url: empresas_path, method: :get do |f| %>
          <div class="row">
            <div class="col">
              <%= f.input :nome, label: false, placeholder: "Nome da empresa" %>
            </div>
            <div class="col-auto">
              <%= button_tag type: :submit, class: "btn btn-primary control-bttn" do %>
                <%= fa_icon(:search) %>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= simple_form_for :empresa, url: empresas_path, method: :get do |f| %>
          <div class="row">
            <div class="col">
              <%= f.input :cpf_cnpj, label: false, placeholder: "CPF/CNPJ" %>
            </div>
            <div class="col-auto">
              <%= button_tag type: :submit, class: "btn btn-primary control-bttn" do %>
                <%= fa_icon(:search) %>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= link_to "Remover Filtros", empresas_path, class: "btn btn-danger btn-block"%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover table-no-bordered">
      <thead>
        <tr>
          <th scope="col"><%= fa_icon("building", text:"Nome da empresa")%></th>
          <th scope="col" class="cpf-cnpj-col"><%= fa_icon("id-card", text:"CPF/CNPJ")%></th>
          <th scope="col"><%= fa_icon("image", text:"Selo cadastrado")%></th>
          <th scope="col"></th>
          <th scope="col"> <%= link_to fa_icon(:filter), "", class: "btn btn-primary control-bttn", "data-toggle" => "modal", "data-target" => "#filter-form" %> </th>
          <th scope="col"> <%= link_to fa_icon("plus-circle"), new_empresa_path, class: "btn btn-primary control-bttn" %> </th>
        </tr>
      </thead>

      <tbody>
        <% @empresas.each do |empresa| %>
          <tr scope="row">
            <td><%= empresa.nome %></td>
            <td class="cpf-cnpj-col"><%= empresa.cpf_cnpj %></td>
            <td><%= empresa.info_img.blank? ? fa_icon(:times) + " Não" : fa_icon(:check) + " Sim" %></td>
            <td><%= link_to fa_icon("info-circle"), empresa, class: "btn btn-info control-bttn" %> </td>
            <td><%= link_to fa_icon("pencil-alt"), edit_empresa_path(empresa), class: "btn btn-warning control-bttn" %></td>
            <td><%= link_to fa_icon(:trash), empresa, method: :delete, data: { confirm: 'Você tem certeza? Todos os recibos desta empresa serão apagados!' }, class: "btn btn-danger control-bttn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

