
<div class="row">
  <div class="col">
    <h3>Lista de Empresas</h3>
  </div>
</div>

<table class="table table-hover table-no-bordered">
  <thead>
    <tr>
      <th data-sortable="true">Nome</th>
      <th data-sortable="true">CPF/CNPJ</th>
      <th colspan="2">
        <nav>
          <ul class="pagination">
            <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&laquo;</span></a>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a>
          </ul>
        </nav>
      </th>
      <th> <%= link_to fa_icon("plus-circle"), new_empresa_path, class: "btn btn-primary control-bttn" %> </th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.nome %></td>
        <td><%= empresa.cpf_cnpj %></td>
        <td><%= link_to fa_icon("info-circle"), empresa, class: "btn btn-info control-bttn" %> </td>
        <td><%= link_to fa_icon(:pencil), edit_empresa_path(empresa), class: "btn btn-warning control-bttn" %></td>
        <td><%= link_to fa_icon(:trash), empresa, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger control-bttn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


