
<div class="row">
  <div class="col">
    <h3>Empresa: <%= @empresa.nome %></h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <label>CPF/CNPJ:</label>
      <%= @empresa.cpf_cnpj %>
    </p>
  </div>
  <div class="col">
    <label>Selo com informações da empresa</label> <br>
    <%= image_tag attachment_url(@empresa, :info_img), alt: "Imagem não encontrada" %>
  </div>
  <div class="col-auto control-bttns">
    <%= link_to fa_icon(:list), empresas_path, class: "btn btn-secondary" %> <br>
    <%= link_to fa_icon(:pencil), edit_empresa_path(@empresa), class: "btn btn-warning" %> <br>
  </div>
</div>

