
<div class="row">
  <div class="col">
    <h3> <%= @recibo %> </h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <label><%=fa_icon("calendar-alt", text: "Data:")%></label>
      <%= localize @recibo.data %>
    </p>

    <p>
      <label><%=fa_icon("money-bill-alt", text: "Valor do recibo:")%></label>
      <%= number_to_currency @recibo.valor %>
    </p>

    <p>
      <label><%=fa_icon("money-bill-alt", text: "Valor por extenso:")%></label>
      <%= @recibo.valor_extenso %>
    </p>

    <p>
      <label><%=fa_icon("comments", text: "Referente à:")%></label>
      <%= @recibo.referente %>
    </p>
  </div>
  <div class="col">
    <p>
      <label><strong><%=fa_icon("building", text: "Empresa:")%></strong></label>
      <%= link_to @recibo.empresa.nome, @recibo.empresa, class: "text-info" %>
    </p>

    <p>
      <label><strong><%=fa_icon("handshake", text: "Favorecido:")%></strong></label>
      <%= link_to @recibo.favorecido.nome, @recibo.favorecido, class: "text-info" %>
    </p>

    <% if current_user.isAdmin %>
      <p>
        <label><strong><%=fa_icon("user", text: "Usuário responsável:")%></strong></label>
        <%= link_to @recibo.usuario.nome, @recibo.usuario, class: "text-info" %>
      </p>
    <% end %>

    <p>
      <% if @recibo.recibo_assinado.nil? %>
        <div class="alert alert-warning"> <%=fa_icon("exclamation-circle", text: "O Recibo assinado ainda não foi salvo")%></div>
      <% else %>
        <%= link_to fa_icon("external-link", text: "Download do recibo assinado", right: true), attachment_url(@recibo, :recibo_assinado), class: "btn btn-sm btn-info" %>
      <% end %>
    </p>
  </div>
  <div class="col-auto control-bttns">
    <%= link_to fa_icon(:list), recibos_path, class: "btn btn-secondary" %> <br>
    <%= link_to fa_icon("pencil-alt"), edit_recibo_path(@recibo), class: "btn btn-warning" %> <br>
    <%= link_to fa_icon(:print), recibo_path(@recibo, :format => :pdf), class: "btn btn-info" %> <br>
  </div>
</div>